<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>About Us</h1>
<p dir="ltr"> We believe learning should not be confined to four walls of a classroom. Therefore, we bring you our elearning platform. Now, students can learn at their own pace, anytime and anywhere.
</p>
<br/>
<p dir="ltr">
CloudThat is focused on quickly empowering IT professionals and organizations with leveraging Cloud and Big Data. Co-founded by Bhavesh Goswami, an ex-Amazonian who was part of the AWS product development team and Himanshu Mody, who brings in 15 years of experience in IT Training and Consulting business allows us to deliver high quality training with best practices. We have presence in Mumbai, Bengaluru, USA & UK, but offer on-site and pre-scheduled public batches in different IT centric cities of India and Overseas.</p>
<br/>
<br/><strong>
<h2 style="color:#000000;">
    Leadership Team
</h2></strong>
<p><h3 style="color:#000000;">
    Bhavesh Goswami</h3>Co-Founder and CEO
</p>
<p dir="ltr">
    Bhavesh Goswami the Co-Founder &amp; CEO of CloudThat Technologies, has been working in Cloud Computing space for over 10 years. He was in the initial
    development team of Amazon Simple Storage Service (S3) at Amazon Web Services (AWS) in Seattle. He honed his Cloud Computing skills at Amazon where he
    helped ship the first version of S3 in 2006. He moved to Microsoft after over three years at Amazon to take up the challenge to help manage Cosmos, the
    Cloud storage and Big Data computational engine that power all of the Microsoft’s Online Services, including Bing.
</p>
<p dir="ltr">
    In 2010, after living in USA over 10 years, he came to India in search of a challenge. He realized that the rapidly changing technology landscape and the
    busy schedule of IT professionals were not conducive to acquire new skills. Thus, he started CloudThat Technologies, a company focused on quickly
    empowering professionals &amp; corporates on Cloud &amp; Big Data through training &amp; consulting services. He has personally trained over 500 people on
    various Cloud technologies like AWS, Microsoft Azure, Google App Engine and more. Bhavesh has spoken at various Cloud and Big Data conferences and events
    like ‘7th Cloud Computing &amp; Big Data’ and have been the Keynote Speaker at ‘International Conference on Computer Communication and Informatics’. He is
    passionate about technology and keeps the company up to date on latest Cloud technologies &amp; market trends.
</p>
<p dir="ltr">
    Bhavesh earned MS in Computer Science from University of South Florida, where he was awarded Scholarships for Teaching Assistantship and Research
    Assistantship in 2003. He gained his Bachelor of Engineering in Information Technology from Nirma University in 2001.
</p>
<p dir="ltr">
    <h3 style="color:#000000;">Himanshu Mody</h3> Co-Founder
    </p>
<p dir="ltr">
    Himanshu Mody is an Entrepreneur with focus on IT Education and Consulting. He founded Tekno Point in 2000. Under his leadership Tekno Point has trained
    over 10000 IT professionals from enterprises across India, Australia, New Zealand, Singapore, Hong Kong, Malaysia and China on Adobe products.
</p>
<p dir="ltr">
    Himanshu contributes immensely to the technical training ecosystem as the only instructor for CompTIA Certified Technical Training helping fellow trainers
    from VMware, Dell, Red Hat, and trainers from Microsoft, Adobe and Oracle community to achieve this global recognition in technical training delivery.
</p>
<p dir="ltr">
    Times of India a leading media company recognized him as one of the top 10 Entrepreneurs in 2014.
</p>
<p dir="ltr">
    At CloudThat he is using his experience to ensure world-class training delivery, Strategy, optimizing business processes, identify new revenue models for
    the company and constantly raising the bar of what is possible.
</p>
    <p>
   <h3 style="color:#000000;">Casey Muse</h3> Managing Partner
    </p>
<p dir="ltr">
    Casey brings years of executive level consulting focused on helping organizations build high-performing teams that deliver innovative products for their
    customers to CloudThat. Example successes include a role as CTO of an Internet marketing organization, building a team that maintained one of the most
    viewed sites on the Internet, hosting over 40,000 individual blog sites on a proprietary blogging system built from scratch. Casey holds a Bachelor of
    Science in Information Systems from the University of South Florida’s College of Engineering, an MBA from the University of Tampa, and is currently working
    towards his Master of Science in Computer Science at the Georgia Institute of Technology.
</p>
<br/>
<br/>

    </section>
</main>
