<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>
        <div id="wufoo-zvpc326064yzlz">
Fill out my <a href="https://cloudthat.wufoo.com/forms/zvpc326064yzlz">online form</a>.
</div>
<script type="text/javascript">var zvpc326064yzlz;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'cloudthat',
'formHash':'zvpc326064yzlz',
'autoResize':true,
'height':'508',
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zvpc326064yzlz = new WufooForm();zvpc326064yzlz.initialize(options);zvpc326064yzlz.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


    </section>
</main>
