<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Disclaimer")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
    <h1>DISCLAIMER</h1>
<br/>
<p dir="ltr">
    THIS SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTY OF ANY KIND, WHETHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY
    WARRANTY AS TO THE ACCURACY, COMPLETENESS, CURRENCY, RELIABILITY, ABSENCE OF ANY VIRUSES OR CONTENT OF ANY INFORMATION, SOFTWARE, OR MATERIAL PROVIDED BY
    OR THROUGH THE SITE, AND WITHOUT ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. CLOUDTHAT TECHNOLOGIES PVT. LTD. FURTHER
    DISCLAIM ANY AND ALL LIABILITY RELATED TO YOUR ACCESS OR USE OF THE SERVICES OR ANY RELATED CONTENT. YOU ACKNOWLEDGE AND AGREE THAT ANY ACCESS TO OR USE OF
    THE SERVICES OR SUCH CONTENT IS AT YOUR OWN RISK.
</p>
<p dir="ltr" >
    In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage
    whatsoever arising from loss of data or profits arising out of or in connection with the use of this website.
</p>
<p dir="ltr">
    Through this website you are able to link to other websites which are not under the control of “CloudThat Technologies”. We have no control over the
    nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorsement of the views
    expressed within them.
</p>
<p dir="ltr">
    ALL LOGOS &amp; TRADEMARKS USED IN THIS WEBSITE BELONG TO THEIR RESPECTIVE COMPANIES
</p>
<p>
    Every effort is made to keep the website up and running smoothly. However, “CloudThat Technologies” takes no responsibility for and will not be liable for
    the website being temporarily unavailable due to technical issues beyond our control.
</p></p>

</section>
</main>
