<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%!
from datetime import datetime
import pytz
from django.conf import settings
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from xmodule.tabs import CourseTabList
from microsite_configuration import microsite
platform_name = microsite.get_value("platform_name", settings.PLATFORM_NAME)
%>
<%block name="pagetitle">Thank You</%block>

<style>
header.global .user{
        margin-top:35px;
}
#thanks{
        display:none;
}
</style>

<section id="container about">
<br/>

<div>
<p><center>Thank you for contacting us.</center></p>
<p><center>One of our executives will get in touch with you soon.</center></p>
<p style=line-height: 0.7><center>Thanks & Regards,</center></p>
<p><center>Team CloudThat eLearning</center></p>
</div>



</section>
