<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Terms of Use and Honor Code</h1>
<br/>
<p dir="ltr">
    Welcome to our website. If you decided to continue to use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern CloudThat Technologies Technologies’ relationship with you in relation to this website.
</p>
<p dir="ltr">
    The term “CloudThat Technologies” or “us” or “we” refers to the owner of the website. The term 'You' refers to a user or a paying customer. If you are a company or another person who gives access to company products, you agree to take responsibility in full in case of damages or indemnification that could properly lie against the customer.
</p>
<p dir="ltr">
    CloudThat Technologies E-learning website (the 'Site'), the educational services made available through the site and the content (the 'Products') are owned, operated and maintained, as applicable, by CloudThat Technologies ('we', 'our', 'us', or the 'Company'). The Site, Products and Content are, collectively, the 'Company Products'.
</p>
<h2 dir="ltr">
    Registration
</h2>
<p dir="ltr">
    To use our services, you will need to register and obtain an account, username and password. When you register, the information you provide to us during the registration process will help us in offering content. You are solely responsible for maintaining the confidentiality of your account, username, and password (collectively, Your "Account") and for all activities associated with or occurring under Your Account. You represent and warrant that Your Account information will be accurate at all times.
</p>
<p dir="ltr">
    You may not transfer Your Account to any other person and you may not use anyone else's Account at any time without the permission of the account holder.We cannot and will not be responsible for any loss or damage arising from your failure to take care of your account.
</p>
<br/>
<h2 dir="ltr">
    Modifications
</h2>
<p dir="ltr">
    CloudThat Technologies may, in its sole discretion and with prior notice, (a) update, revise, or otherwise modify these Terms; (b) modify the Site and/or the Services; or (c) discontinue the Site and/or Services, in each case at any time and for any reason, CloudThat Technologies will provide you with notification that these Terms have changed through email, by posting on the Site or by such other means as we may determine in its sole discretion. If you are unwilling or unable to accept and comply with any future updates, revisions, or other modifications to these Terms, you must terminate your Subscription with us and immediately stop using our Services. By continuing your Subscription after any such updates, revisions, or other modifications, you accept and agree to be bound by these Terms as so updated, revised, or otherwise modified.
</p>
<br/>
<h2 dir="ltr">
    Payment
</h2>
<p dir="ltr">
    In consideration for your Registration, you agree to pay CloudThat Technologies all subscription fees and charges, and any other fees and charges which CloudThat Technologies may now or in the future charge you in connection or associated with your Subscription, and any modifications or additions thereto (collectively, “Subscription Fees”). All Subscription Fees are nonrefundable, except as otherwise expressly stated herein.
</p>
<p dir="ltr">
    CloudThat Technologies may at any time, in its absolute and sole discretion, modify the Fees or add new fees or charges to the Registration Fees. CloudThat Technologies will provide you with advance notification of any such modifications or additions to the Registration Fees through email, posting on the Site or by such other means as we may determine in its sole discretion. If you are unwilling or unable to accept and promptly pay when due any such modifications or additions, you must terminate your Subscription with CloudThat Technologies and immediately stop using the Services. By continuing your Subscription after any such modifications or additions to Subscription Fees, you accept and agree to pay all such modifications or additions to the Subscription Fees.
</p>
<br/>
<h2 dir="ltr">
    Cancellation and Refund Policy
</h2>
<p dir="ltr">
    CloudThat Technologies has a no refund policy. Fees once paid will not be refunded.
</p>
<br/>
<h2 dir="ltr">
    The use of this website is subject to the following terms of use:
</h2>
<ul>
<li dir="ltr">
        <p dir="ltr">
        Each enrollment will be valid / accessible till 6 months from the date of purchase. It will expire after 6 months.
        </p>
    </li>
<li dir="ltr">
        <p dir="ltr">
       Sharing of access / enrollment credentials with anyone is strictly prohibited.
        </p>
    </li>
<li dir="ltr">
        <p dir="ltr">
        Downloading of any video from this site will be a breach of Intellectual Property Rights, hence downloading of any video from this site is strictly prohibited.
        </p>
    </li>

    <li dir="ltr">
        <p dir="ltr">
            The content of the pages of this website is for your general information and use only. It is subject to change without notice.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Unauthorised use of this website will give a right to us to a claim for damages and / or be a criminal offence.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            You cannot create a link to this website from another website or document without CloudThat Technologies’ prior written consent.
        </p>
    </li>
</ul>

    </section>
</main>
